<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
    </title>
  </head>
  <body>
    <post>
      <p>
        <%= @post.user.username %>
      </p>
      <%= image_tag @post.image.url(:medium) %>
      <p>
        <%= @post.caption %>
      </p>
    </post>
    <p>
      <%= link_to "back", posts_path %>
      <% if user_signed_in? %>
        <% if @post.user_id == current_user.id %> |
          <%= link_to "edit", edit_post_path(@post) %> |
          <%= link_to "delete", post_path(@post), method: :delete,
                data: { confirm: "Are you sure?" } %>
        <% end %>
      <% end %>
    </p>
    <p>
      <%= link_to like_post_path(@post), class: "like-btn", id: "toggle", method: :put, remote: :true do %>
        <div>
          <span><p><i class="glyphicon glyphicon-heart-empty"></i></p></span>
        </div>
      <% end %>
      <span class="likes-count"><%= @post.get_upvotes.size %></span>
    </p>
    <p>
      <% if @post.comments.count > 0 %>
        <strong>Comments</strong>
        <%= render @post.comments.select(&:persisted?) %>
      <% end %>
    </p>

    <%= render "comments/form" %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  </body>
</html>
